.App {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style-type: none;
}

table,
td,
th {
	padding: 5px;
	border: 1px solid black;
}

table {
	margin: 10px 10px;
	border-collapse: collapse;
	width: 100%;
}

th {
	height: 50px;
}
